*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    height: 100vh;
    width: 100vw;
    overflow: none;
    background-color: #e2e5e8;
    background-image: linear-gradient(98deg,#e2e5e8 0%,#ffffff 100%);
}
nav{
    width: 100%;
    overflow-x: none;
    padding-right: 1rem;
}
.navContainer{
    width: 100vw;
    background-color:#000000;
    background-image: linear-gradient(160deg,#000000 0%,#8085d0 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#navlist{
    width: 100%;
    padding: 15px;
    list-style: none;
     font-size: 2.5rem;
     display: flex;
     justify-content: space-around;
     /* margin-left: 15px;
     margin-right: 15px; */
     align-items: center;
}
#navLogo{
    font-size: 2.5rem;
    color:azure;
}
a{
    text-decoration: none;
    color: azure;
}
#navitems{
    display: flex;
    gap: 40px;
    
}
.footerbox{
   background-color:#000000;
    background-image: linear-gradient(160deg,#000000 0%,#8085d0 100%);

    width: 100%;
    text-align: center;
    min-height: 40px;
}
.footerbox p{
    color: azure;
    font-size: 2rem;
}

.contentbox{
    width: 50%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: auto;
    padding: 3rem;
    box-shadow: 1px 0px 30px black;
    

}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.rightbox img{
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
   
}

.leftbox{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.leftbox h2{
    font-size: 2rem;
}
.Ingredientbox{
    font-size: 1.3rem;
}
.recipebox{
    font-size: 1.1rem;
}
.rightbox:hover{
    transform: scale(1.2);
    transition: all 0.3s linear 0s;
}
.rightbox{
    position: relative;
    overflow: hidden;
    font-size: 1.1rem;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}
.rightbox .overlay{
    position:absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    background-color: rgba(36, 34, 34,0.713);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.rightbox:hover .overlay{
    opacity: 1;
}
span{
 
    color: white;
    
}