*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(59,57,57);
    display: grid;
    padding: 4rem;
    /* row-gap: 1rem;
    column-gap: 1rem; */
    gap: 1rem;

    grid-template-rows: repeat(6,1fr);
    grid-template-columns:repeat(1,1fr);
    color: gold;




}

.header{
    
    background-color: rgb(94,94,194);
    border: 5px solid black;
      display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    
    background-color: rgb(94,94,194);
    border: 5px solid black;
      display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar{
    
     background-color: rgb(94,94,194);
    border: 5px solid black;
      display: flex;
    justify-content: center;
    align-items: center;
}

.content1{

     background-color: rgb(94,94,194);
    border: 5px solid black;
      display: flex;
    justify-content: center;
    align-items: center;
}
.content2,.content3{
     background-color: rgb(94,94,194);
    border: 5px solid black;
      display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:760px){
    .header,.footer{
        grid-column-start: 1;
    grid-column-end: 4;
    }
    .sidebar{
grid-row-start: 2;
    grid-row-end: 4;
    }
    .content1{
    grid-column-start: 2;
    grid-column-end: 4;
    }
    .container{
        grid-template-rows: repeat(4,1fr);
    grid-template-columns:repeat(3,1fr);
    }
}