*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
     
}

.container{
    height: 100%;
    width: 100%;
   background-color: gray;
    display: grid;
    gap: 0.4rem;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(4,200px);
    padding: 4rem;
    border: 2px solid gold;
    /* justify-items: stretch; */
    /* align-items:stretch; */
    /* place-items: center; */


    
}
.items{
    height: 50px;
    width: 100px;
    background-color: gold;
    border: 5px solid white;
    /* justify-self: center;
    align-self: center; */
    /* place-self:stretch ; */

}